@model FloraShop.Web.Models.LoginModel
@{
    Layout = "~/Views/Layouts/Content.cshtml";
    ViewBag.Title = "Đăng nhập";
}
<div class="title-big">Đăng nhập</div>

<div class="info-detail">

    <form method="post" action="/user/login">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <p>
            @Html.LabelFor(model => model.Username)
            @Html.EditorFor(model => model.Username, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </p>

        <p>
            <label>&nbsp;</label>
            @Html.CheckBoxFor(model => model.RememberMe, new { @class = "form-control" })
            @Html.LabelFor(model => model.RememberMe, new { @class = "login-remember" })
        </p>

        <p>
            <label>&nbsp;</label>
            <a href="/dang-ky/">Đăng ký</a> |
            <a class="lnk-forgotpw" href="/quen-mat-khau/">Quên mật khẩu</a>
        </p>

        <p>
            <input type="submit" value="Đăng nhập" class="btnDatHang" />
        </p>
    </form>

</div>


@section FooterScripts    {
    @Html.JsBundle("~/js/jqueryval")
}
